/* CONTACTO */

.col-lg-8 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .row-contact {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  
  .card .mx-4 .mx-md-5 .shadow-5-strong {
    width: 75%;
    margin-top: -100px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
  }